[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
albumentations = {git = "https://github.com/albu/albumentations"}
numpy = "*"
matplotlib = "*"
tqdm = "*"
ipykernel = "*"
opencv-python = "*"
torchvision = "*"
tensorboard = "*"

[requires]
python_version = "3.6"
